<div class="panel panel-primary">
    <div class="panel-heading">{{pageTitle}}
       <div class="pull-right">
        <button class="btn btn-default" (click)='addProduct()'>New Product</button>
      </div>
    </div>
    <div class="panel-body">
    <div>
      <label>Filter By</label>
      <input type='text' [(ngModel)] = 'filterValue'/> 
    </div>
    <h4>Filtered By {{filterValue}}</h4>
    <div  class='table-responsive'>
      <table class='table' *ngIf='products && products.length'>
        <thead>
          <tr>
            <th>
              <button class='btn btn-primary' (click) = 'toggleImage()'>{{showImage ? 'Hide' : 'Show'}} image</button>
            </th>
            <th>Products</th>
            <th>Price</th>
            <th>Rating</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = 'let product of products | productFilter : filterValue'>
            <td>
              <img  *ngIf = 'showImage' [src] = 'product.image'
                [title] = 'product.productName' 
                style='width:50px; margin: 2px'
              />
            </td>
            <td><a [routerLink] = "['/product',product.id]">{{product.productName}}</a></td>
            <td>{{product.price | currency:'INR':true:'1.2-2'}}</td>
            <td><pm-rating [rating]='product.rating' (ratingClicked)='onRatingClicked($event)'></pm-rating></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>